In [1]:
import numpy as np

### 
5 строк и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, 
а второй - числа 6, 8, 11, 10, 7.

In [2]:
a = np.array([[1,6],[2,8],[3,11],[3,10],[1,7]])
print(a)

print("Форма a: {}".format(a.shape))

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]
Форма a: (5, 2)

### 
среднее

In [3]:
mean_a = np.mean(a, axis=0)

In [4]:
mean_a

array([2. , 8.4])

###
Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [5]:
a_centered = a - mean_a

In [6]:
a_centered

array([[-1. , -2.4],
       [ 0. , -0.4],
       [ 1. ,  2.6],
       [ 1. ,  1.6],
       [-1. , -1.4]])

###
Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [7]:
a_centered_sp = a_centered[:, 0] @ a_centered[:, 1]

In [8]:
a_centered_sp

8.0

In [9]:
a_centered_sp / (a.shape[0] -1)

2.0

###
В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с помощью функции np.cov. В качестве аргумента m функция np.cov должна принимать транспонированный массив “a”. В получившейся ковариационной матрице (массив Numpy размером 2x2) искомое значение ковариации будет равно элементу в строке с индексом 0 и столбце с индексом 1.

In [10]:
np.cov(a.transpose())

array([[1. , 2. ],
       [2. , 4.3]])

In [25]:
a_centered_sp / (a.shape[0] -1) == np.cov(a.transpose())[0,1]

True

## Pandas

###
Импортируйте библиотеку Pandas и дайте ей псевдоним pd. 
Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: 
[1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные: 
[1, 1, 1, 2, 2, 3, 3], 
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [11]:
import pandas as pd

In [12]:
authors = {
    "author_id" : [1, 2, 3],
    "author_name" : ['Тургенев', 'Чехов', 'Островский']
}

In [13]:
authors

{'author_id': [1, 2, 3], 'author_name': ['Тургенев', 'Чехов', 'Островский']}

In [14]:
authors = pd.DataFrame(authors)

In [15]:
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [16]:
book = {
    "author_id" : [1, 1, 1, 2, 2, 3, 3],
    "book_title" : ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    "price" : [450, 300, 350, 500, 450, 370, 290]
    
}

In [17]:
book

{'author_id': [1, 1, 1, 2, 2, 3, 3],
 'book_title': ['Отцы и дети',
  'Рудин',
  'Дворянское гнездо',
  'Толстый и тонкий',
  'Дама с собачкой',
  'Гроза',
  'Таланты и поклонники'],
 'price': [450, 300, 350, 500, 450, 370, 290]}

In [18]:
book = pd.DataFrame(book)

In [19]:
book

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

In [20]:
book.columns

Index(['author_id', 'book_title', 'price'], dtype='object')

In [21]:
book.describe

<bound method NDFrame.describe of    author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290>

###
Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [22]:
autors_price = pd.merge(authors,book, on="author_id", how="inner")

In [23]:
autors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [24]:
###
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

SyntaxError: invalid syntax (<ipython-input-24-fc8eff47607d>, line 2)

In [ ]:
top5 = pd.DataFrame(autors_price)

In [1]:
top5.sort_values(by="price").tail(5)

NameError: name 'top5' is not defined

In [ ]:
###
Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора,минимальная, максимальная и средняя цена на книги этого автора.

In [27]:
authors_stat = pd.DataFrame(autors_price)

In [ ]:
authors_stat

In [ ]:
authors_stat.max(axis=0)
authors_stat.min(axis=0)

###
Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].

In [29]:
cover = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']

In [ ]:
authors_stat

In [33]:
authors_stat["cover"] = cover

In [34]:
authors_stat

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

###
Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.

In [37]:
pd.pivot_table?

In [36]:
book_info = pd.pivot_table(authors_stat, 
                           values = 'price', index = ['author_name'], 
                           columns = ['cover'], aggfunc=np.sum, fill_value=0)

In [38]:
book_info

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950